# CAPP 30254 Machine Learning for Public Policy - Spring 2019
# HW1 Assignment 1: Diagnostic | Nora Hajjar | Due 4/9/19
# WRITEUP: https://docs.google.com/document/d/1JAAsMuWR1ytGTjETEBBFHlt8IDG9uzxFwc5u_msdzcg/edit

________________________

## Problem 1: Data Acquisition and Analysis
### This problem deals with crime reporting data from Chicago. Your task is to download data about Crime Reports from the Chicago Open Data Portal and analyze it to better understand what type of crimes get reported in what (type of) neighborhoods.

### Task 1: Download reported crime data from the Chicago open data portal for 2017 and 2018.

In [1]:
import pandas as pd
df_2017 = pd.read_json("https://data.cityofchicago.org/resource/6zsd-86xi.json?year=2017&$limit=600000")
df_2018 = pd.read_json("https://data.cityofchicago.org/resource/6zsd-86xi.json?year=2018&$limit=600000")
df = df_2017.append(df_2018)

In [2]:
df.head()

,arrest,beat,block,case_number,community_area,date,description,district,domestic,fbi_code,...,latitude,location,location_description,longitude,primary_type,updated_on,ward,x_coordinate,y_coordinate,year
0,True,1034,026XX S CALIFORNIA BLVD,JA529032,30.0,2017-11-28 21:43:00,VIOLENT OFFENDER: ANNUAL REGISTRATION,10.0,False,26,...,41.843778,"{'type': 'Point', 'coordinates': [-87.69463767...",JAIL / LOCK-UP FACILITY,-87.694638,OTHER OFFENSE,2018-02-11T15:54:58.000,12.0,1158280.0,1886310.0,2017
1,True,1221,007XX N SACRAMENTO BLVD,JA545986,23.0,2017-12-11 19:15:00,ARMED: HANDGUN,12.0,False,03,...,41.894476,"{'type': 'Point', 'coordinates': [-87.70216915...",SIDEWALK,-87.702169,ROBBERY,2018-02-11T15:54:58.000,27.0,1156092.0,1904769.0,2017
2,False,2222,092XX S RACINE AVE,JB147188,73.0,2017-10-08 03:00:00,NON-AGGRAVATED,22.0,False,02,...,NaN,NaN,RESIDENCE,NaN,CRIM SEXUAL ASSAULT,2018-02-11T15:57:41.000,21.0,NaN,NaN,2017
3,False,835,026XX W 79TH ST,JB147595,70.0,2017-03-28 14:00:00,UNLAWFUL ENTRY,8.0,False,05,...,NaN,NaN,OTHER,NaN,BURGLARY,2018-02-11T15:57:41.000,18.0,NaN,NaN,2017
4,False,313,060XX S EBERHART AVE,JB147230,42.0,2017-09-09 20:17:00,OVER $500,3.0,False,06,...,NaN,NaN,RESIDENCE,NaN,THEFT,2018-02-11T15:57:41.000,20.0,NaN,NaN,2017

### Task 2: Generate summary statistics for the crime reports data including but not limited to number of crimes of each type, how they change over time, and how they are different by neighborhood. Please use a combination of tables and graphs to present these summary stats.

In [32]:
df.groupby(["primary_type", "year"]).size().sort_values(ascending=False)

description                                  year
SIMPLE                                       2018    29680
                                             2017    29076
$500 AND UNDER                               2018    24794
                                             2017    24514
DOMESTIC BATTERY SIMPLE                      2018    24259
                                             2017    23818
OVER $500                                    2017    15347
                                             2018    15226
TO VEHICLE                                   2017    14547
                                             2018    13989
TO PROPERTY                                  2017    13842
                                             2018    13134
FROM BUILDING                                2018    10848
RETAIL THEFT                                 2018    10712
FROM BUILDING                                2017    10661
RETAIL THEFT                                 2017    10459
AUTOMOBILE                                   2017     9855
                                             2018     8809
FORCIBLE ENTRY                               2017     7506
                                             2018     6639
FINANCIAL IDENTITY THEFT OVER $ 300          2017     5016
AGGRAVATED: HANDGUN                          2017     4996
CREDIT CARD FRAUD                            2018     4807
AGGRAVATED: HANDGUN                          2018     4789
UNLAWFUL ENTRY                               2017     4594
ARMED: HANDGUN                               2017     4549
UNLAWFUL ENTRY                               2018     4292
TO LAND                                      2018     4111
FINANCIAL IDENTITY THEFT OVER $ 300          2018     4040
CREDIT CARD FRAUD                            2017     3937
                                                     ...
ANIMAL FIGHTING                              2017        1
INTOXICATING COMPOUNDS                       2018        1
ATTEMPT AGG: OTHER DANG WEAPON               2018        1
SALE TOBACCO PRODUCTS TO MINOR               2017        1
EDUCATIONAL INTIMIDAITON                     2018        1
                                             2017        1
ALTER COINS                                  2018        1
ANIMAL FIGHTING                              2018        1
ARMED VIOLENCE                               2017        1
COMPELLING CONFESSION                        2018        1
UNIDENTIFIABLE RECORDING SOUND               2017        1
                                             2018        1
THEFT/RECOVERY: CYCLE, SCOOTER, BIKE NO VIN  2017        1
MANU/DELIVER:HEROIN(BLACK TAR)               2018        1
POS: EXPLOSIVE/INCENDIARY DEV                2018        1
NOTIFICATION OF STALKING - NO CONTACT ORDER  2017        1
INTERFERE W/ HIGHER EDUCATION                2017        1
CONCEALED CARRY LICENSE REVOCATION           2017        1
ARSONIST: DUTY TO REGISTER                   2017        1
CONCEALED CARRY LICENSE REVOCATION           2018        1
INTERFERE W/ HIGHER EDUCATION                2018        1
AGGRAVATED OF A UNBORN CHILD                 2018        1
UNLAWFUL SALE/DELIVERY OF FIREARM AT SCHOOL  2017        1
INTIMIDATION OF LAW ENFORCEMENT OFFICIAL     2017        1
GUN OFFENDER NOTIFICATION-NO CONTACT         2017        1
GAME/AMUSEMENT DEVICE                        2017        1
ATTEMPT AGG: KNIFE/CUT INSTR                 2017        1
UNLAWFUL USE OF RECORDED SOUND               2018        1
CAB OPERATION                                2017        1
MANU/DELIVER:HEROIN(BLACK TAR)               2017        1
Length: 611, dtype: int64

In [62]:
df.groupby(["primary_type", "year", "block"]).size().sort_values(ascending=False)

primary_type         year  block
THEFT                2017  001XX N STATE ST            686
                     2018  001XX N STATE ST            683
                           0000X N STATE ST            398
                     2017  008XX N MICHIGAN AVE        357
                     2018  008XX N MICHIGAN AVE        333
                     2017  0000X N STATE ST            291
NARCOTICS            2017  033XX W FILLMORE ST         289
THEFT                2018  0000X S STATE ST            276
                     2017  0000X S STATE ST            262
                     2018  011XX S CANAL ST            257
                     2017  006XX N MICHIGAN AVE        223
                           003XX E RANDOLPH ST         223
NARCOTICS            2018  033XX W FILLMORE ST         221
THEFT                2017  076XX S CICERO AVE          205
                     2018  046XX W NORTH AVE           202
                           0000X W TERMINAL ST         201
                     2017  011XX S CANAL ST            197
                     2018  006XX N MICHIGAN AVE        185
                     2017  0000X W TERMINAL ST         180
                     2018  100XX W OHARE ST            179
                           009XX N MICHIGAN AVE        169
                           001XX W LAKE ST             164
                           083XX S STEWART AVE         161
                     2017  083XX S STEWART AVE         161
                           0000X N MICHIGAN AVE        158
DECEPTIVE PRACTICE   2018  001XX N STATE ST            155
THEFT                2018  0000X N DEARBORN ST         154
DECEPTIVE PRACTICE   2017  001XX N STATE ST            152
THEFT                2017  030XX N BROADWAY            145
                           007XX N MICHIGAN AVE        141
                                                      ...
MOTOR VEHICLE THEFT  2018  0000X S MENARD AVE            1
                           0000X S LOCKWOOD AVE          1
                           0000X S LEAVITT ST            1
                           0000X S LAVERGNE AVE          1
                           0000X S KEELER AVE            1
                           0000X S HOMAN AVE             1
                           0000X S HAMLIN BLVD           1
                           0000X W 30TH ST               1
                           0000X W 63RD ST               1
                           0000X W 71ST ST               1
                           0000X W PARKING LOT D ST      1
                           001XX E 133RD ST              1
                           001XX E 114TH PL              1
                           001XX E 111TH ST              1
                           0000X W WALTON ST             1
                           0000X W WACKER DR             1
                           0000X W ROOT ST               1
                           0000X W RANDOLPH ST           1
                           0000X W PEARSON ST            1
                           0000X W PARKING LOT A ST      1
                           0000X W 79TH ST               1
                           0000X W ONTARIO ST            1
                           0000X W LAKE ST               1
                           0000X W JACKSON BLVD          1
                           0000X W HURON ST              1
                           0000X W GOETHE ST             1
                           0000X W CHICAGO AVE           1
                           0000X W BURTON PL             1
                           0000X W 81ST ST               1
ARSON                2017  0000X E 114TH PL              1
Length: 239599, dtype: int64

_______

## Problem 2: Data Augmentation and APIs
### All of the crime data you just analyzed have a block address and lat/long fields. The task now is to augment that data with American Community Survey data. For each crime report, use one of the census APIs to get some additional data (at least 3-4 useful variables) about the block or zipcode where the crime report came from. This could include information about demographics of the block or zipcode (race, income, family size, etc.).

In [4]:
import uszipcode
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)
from uszipcode import Zipcode

In [5]:
#no data for 2018 on Census website, so will augment 2017 df only
#df_2017.head()
#next, we want to extract zip codes based on the lat/long of the data below
#then, we will join on the zip-level data from census data set 
#import uszipcode
#from uszipcode import SearchEngine
#search = SearchEngine(simple_zipcode=True)
#from uszipcode import Zipcode
#def get_zip(lat, long):
    #result = search.by_coordinates(lat, long, returns=1)
    #if len(result) > 0:
        #return result[0].zipcode
    #return 'NaN'

In [17]:
#get_zip(39.122229, -77.133578)

'20855'

In [5]:
mini_df = df_2017[:50].copy()

In [6]:
mini_df = mini_df.dropna(subset=['longitude', 'latitude'])

In [19]:
#for index, row in mini_df.iterrows():
    #mini_df.loc[index,'zipcode'] = get_zip(row['latitude'], row['longitude'])

In [ ]:
#no data for 2018 on Census website, so will augment 2017 df only
#df_2017.head()
#next, we want to extract zip codes based on the lat/long of the data below
#then, we will join on the zip-level data from census data set 
#import uszipcode
#from uszipcode import SearchEngine
#search = SearchEngine(simple_zipcode=True)
#from uszipcode import Zipcode
#def get_zip(lat, long):
    #result = search.by_coordinates(lat, long, returns=1)
    #if len(result) > 0:
        #return result[0].zipcode
    #return 'NaN'

In [7]:
mini_df['zipcode'] = mini_df.apply(lambda x: search.by_coordinates(x['latitude'],
x['longitude'],returns=1)[0].zipcode, axis=1)

In [8]:
mini_df

,arrest,beat,block,case_number,community_area,date,description,district,domestic,fbi_code,...,location,location_description,longitude,primary_type,updated_on,ward,x_coordinate,y_coordinate,year,zipcode
0,True,1034,026XX S CALIFORNIA BLVD,JA529032,30,2017-11-28 21:43:00,VIOLENT OFFENDER: ANNUAL REGISTRATION,10.0,False,26,...,"{'type': 'Point', 'coordinates': [-87.69463767...",JAIL / LOCK-UP FACILITY,-87.694638,OTHER OFFENSE,2018-02-11T15:54:58.000,12.0,1158280.0,1886310.0,2017,60608
1,True,1221,007XX N SACRAMENTO BLVD,JA545986,23,2017-12-11 19:15:00,ARMED: HANDGUN,12.0,False,03,...,"{'type': 'Point', 'coordinates': [-87.70216915...",SIDEWALK,-87.702169,ROBBERY,2018-02-11T15:54:58.000,27.0,1156092.0,1904769.0,2017,60622
5,True,215,003XX E 47TH ST,JA522842,38,2017-11-23 15:14:00,AGGRAVATED: HANDGUN,2.0,False,04A,...,"{'type': 'Point', 'coordinates': [-87.61909899...",DEPARTMENT STORE,-87.619099,ASSAULT,2018-06-21T15:59:22.000,3.0,1178967.0,1873924.0,2017,60653
13,False,1232,007XX W 14TH ST,JB108187,28,2017-12-30 13:07:00,OVER $500,12.0,False,06,...,"{'type': 'Point', 'coordinates': [-87.64530960...",APARTMENT,-87.645310,THEFT,2018-05-04T15:51:04.000,25.0,1171663.0,1893633.0,2017,60607
16,False,312,063XX S ST LAWRENCE AVE,JA351722,42,2017-07-17 14:35:00,FIRST DEGREE MURDER,3.0,False,01A,...,"{'type': 'Point', 'coordinates': [-87.61078722...",STREET,-87.610787,HOMICIDE,2019-03-19T16:11:22.000,20.0,1181324.0,1863116.0,2017,60637
17,False,312,063XX S ST LAWRENCE AVE,JA351722,42,2017-07-17 14:35:00,FIRST DEGREE MURDER,3.0,False,01A,...,"{'type': 'Point', 'coordinates': [-87.61078722...",STREET,-87.610787,HOMICIDE,2019-03-19T16:11:22.000,20.0,1181324.0,1863116.0,2017,60637
18,False,411,079XX S SOUTH CHICAGO AVE,JA352359,46,2017-07-17 21:55:00,FIRST DEGREE MURDER,4.0,False,01A,...,"{'type': 'Point', 'coordinates': [-87.58423315...",GARAGE,-87.584233,HOMICIDE,2019-03-19T16:11:22.000,8.0,1188659.0,1852574.0,2017,60619
24,True,2411,072XX N CALIFORNIA AVE,JA440032,2,2017-09-21 00:15:00,COUNTERFEIT CHECK,24.0,False,10,...,"{'type': 'Point', 'coordinates': [-87.69971410...",CURRENCY EXCHANGE,-87.699714,DECEPTIVE PRACTICE,2018-03-01T15:52:35.000,50.0,1156443.0,1947707.0,2017,60645
25,True,2515,055XX W GRAND AVE,JA470589,19,2017-10-12 19:14:00,TO CITY OF CHICAGO PROPERTY,25.0,False,14,...,"{'type': 'Point', 'coordinates': [-87.76551063...",JAIL / LOCK-UP FACILITY,-87.765511,CRIMINAL DAMAGE,2018-03-01T15:52:35.000,29.0,1138788.0,1913480.0,2017,60639
26,True,922,043XX S TALMAN AVE,JA491697,58,2017-10-30 11:52:00,SEX OFFENDER: FAIL REG NEW ADD,9.0,False,26,...,"{'type': 'Point', 'coordinates': [-87.69072669...",APARTMENT,-87.690727,OTHER OFFENSE,2018-03-01T15:52:35.000,12.0,1159425.0,1875711.0,2017,60632
27,True,2514,055XX W BELMONT AVE,JA521389,19,2017-09-29 18:45:00,BOGUS CHECK,25.0,False,11,...,"{'type': 'Point', 'coordinates': [-87.76583057...",CURRENCY EXCHANGE,-87.765831,DECEPTIVE PRACTICE,2018-03-01T15:52:35.000,30.0,1138653.0,1920720.0,2017,60641
28,True,1221,022XX W CHICAGO AVE,JA531910,24,2017-12-01 06:20:00,AGGRAVATED: OTHER,12.0,False,02,...,"{'type': 'Point', 'coordinates': [-87.68315935...",STREET,-87.683159,CRIM SEXUAL ASSAULT,2018-03-01T15:52:35.000,32.0,1161264.0,1905292.0,2017,60622
29,True,423,028XX E 93RD ST,JA538449,48,2017-12-06 01:37:00,AGGRAVATED DOMESTIC BATTERY: OTHER DANG WEAPON,4.0,True,04B,...,"{'type': 'Point', 'coordinates': [-87.55597679...",RESIDENCE PORCH/HALLWAY,-87.555977,BATTERY,2018-03-03T15:51:13.000,7.0,1196449.0,1843835.0,2017,60617
30,True,231,056XX S CALUMET AVE,JA475431,40,2017-10-18 03:20:00,VEHICULAR HIJACKING,2.0,False,03,...,"{'type': 'Point', 'coordinates': [-87.61752673...",STREET,-87.617527,ROBBERY,2018-03-10T15:46:53.000,20.0,1179448.0,1867640.0,2017,60637
31,False,912,017XX W 33RD ST,JA485151,59,2017-10-25 08:06:00,SEX OFFENDER: FAIL REG NEW ADD,9.0,False,26,...,"{'type': 'Point', 'coordinates': [-87.66909880...",RESIDENCE PORCH/HALLWAY,-87.669099,OTHER OFFENSE,2018-03-28T15:56:06.000,11.0,1165266.0,1882845.0,2017,60608
32,False,1433,017XX N PAULINA ST,JB108420,24,2017-12-28 13:00:00,OVER $500,14.0,False,06,...,"{'type': 'Point', 'coordinates': [-87.67020656...",VEHICLE NON-COMMERCIAL,-87.670207,THEFT,2018-05-04T15:51:04.000,32.0,1164741.0,1911722.0,2017,60642
34,False,1032,033XX S KEDZIE AVE,JA541446,30,2017-12-08 03:00:00,BY FIRE,10.0,False,09,...,"{'type': 'Point', 'coordinates': [-87.70468577...","SCHOOL, PRIVATE, BUILDING",-87.704686,ARSON,2018-03-01T15:54:55.000,22.0,1155572.0,1882206.0,2017,60623
40,False,732,070XX S NORMAL BLVD,JB108409,68,2017-12-28 00:00:00,CREDIT CARD FRAUD,7.0,False,11,...,"{'type': 'Point', 'coordinates': [-87.63717749...",APARTMENT,-87.637177,DECEPTIVE PRACTICE,2018-05-04T15:51:04.000,6.0,1174165.0,1858242.0,2017,60621
44,False,531,112XX S INDIANA AVE,JA533860,49,2017-12-02 14:45:00,OVER $500,5.0,False,06,...,"{'type': 'Point', 'coordinates': [-87.61820128...",RESIDENTIAL YARD (FRONT/BACK),-87.618201,THEFT,2018-02-12T15:46:59.000,9.0,1179573.0,1830461.0,2017,60628
45,False,2423,013XX W TOUHY AVE,JA548103,1,2017-12-11 16:00:00,CHILD ABUSE,24.0,True,20,...,"{'type': 'Point', 'coordinates': [-87.66460080...",APARTMENT,-87.664601,OFFENSE INVOLVING CHILDREN,2018-02-12T15:46:59.000,49.0,1165984.0,1947968.0,2017,60626
47,True,1422,013XX N SPAULDING AVE,JA411505,23,2017-08-30 01:04:00,AGGRAVATED: HANDGUN,14.0,False,04B,...,"{'type': 'Point', 'coordinates': [-87.70930577...",STREET,-87.709306,BATTERY,2018-11-14T16:03:33.000,26.0,1154121.0,1908599.0,2017,60622
48,False,621,076XX S LOWE AVE,JA478106,71,2017-10-20 01:15:00,BY FIRE,6.0,False,09,...,"{'type': 'Point', 'coordinates': [-87.64050812...",VEHICLE NON-COMMERCIAL,-87.640508,ARSON,2018-02-12T15:49:14.000,17.0,1173288.0,1854309.0,2017,60620

In [9]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268098 entries, 0 to 268097
Data columns (total 22 columns):
arrest                  268098 non-null bool
beat                    268098 non-null int64
block                   268098 non-null object
case_number             268098 non-null object
community_area          268098 non-null int64
date                    268098 non-null datetime64[ns]
description             268098 non-null object
district                268097 non-null float64
domestic                268098 non-null bool
fbi_code                268098 non-null object
id                      268098 non-null int64
iucr                    268098 non-null object
latitude                264983 non-null float64
location                264983 non-null object
location_description    267039 non-null object
longitude               264983 non-null float64
primary_type            268098 non-null object
updated_on              268098 non-null object
ward                    268097 non-null float64
x_coordinate            264983 non-null float64
y_coordinate            264983 non-null float64
year                    268098 non-null int64
dtypes: bool(2), datetime64[ns](1), float64(6), int64(4), object(9)
memory usage: 41.4+ MB

In [10]:
#drop NaN longitude and latitude before running iterrow operation
df_2017 = df_2017.dropna(subset=['longitude', 'latitude'])

In [11]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264983 entries, 0 to 268094
Data columns (total 22 columns):
arrest                  264983 non-null bool
beat                    264983 non-null int64
block                   264983 non-null object
case_number             264983 non-null object
community_area          264983 non-null int64
date                    264983 non-null datetime64[ns]
description             264983 non-null object
district                264982 non-null float64
domestic                264983 non-null bool
fbi_code                264983 non-null object
id                      264983 non-null int64
iucr                    264983 non-null object
latitude                264983 non-null float64
location                264983 non-null object
location_description    264180 non-null object
longitude               264983 non-null float64
primary_type            264983 non-null object
updated_on              264983 non-null object
ward                    264982 non-null float64
x_coordinate            264983 non-null float64
y_coordinate            264983 non-null float64
year                    264983 non-null int64
dtypes: bool(2), datetime64[ns](1), float64(6), int64(4), object(9)
memory usage: 43.0+ MB

In [12]:
df_2017['zipcode'] = df_2017.apply(lambda x: search.by_coordinates(x['latitude'],
x['longitude'],returns=1)[0].zipcode, axis=1)

In [ ]:
#df_2017['zipcode'] = df_2017.apply(lambda x: search.by_coordinates(x['latitude'],
#x['longitude'])[0].zipcode, axis=1)

In [33]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264983 entries, 0 to 268094
Data columns (total 23 columns):
arrest                  264983 non-null bool
beat                    264983 non-null int64
block                   264983 non-null object
case_number             264983 non-null object
community_area          264983 non-null int64
date                    264983 non-null datetime64[ns]
description             264983 non-null object
district                264982 non-null float64
domestic                264983 non-null bool
fbi_code                264983 non-null object
id                      264983 non-null int64
iucr                    264983 non-null object
latitude                264983 non-null float64
location                264983 non-null object
location_description    264180 non-null object
longitude               264983 non-null float64
primary_type            264983 non-null object
updated_on              264983 non-null object
ward                    264982 non-null float64
x_coordinate            264983 non-null float64
y_coordinate            264983 non-null float64
year                    264983 non-null int64
zipcode                 264983 non-null object
dtypes: bool(2), datetime64[ns](1), float64(6), int64(4), object(10)
memory usage: 45.0+ MB

In [ ]:
#only run this once, very computationally expensive
#for index, row in df_2017.iterrows():
    #df_2017.loc[index,'zipcode'] = get_zip(row['latitude'], row['longitude'])

In [23]:
import requests
request_obj = requests.get('https://api.census.gov/data/2017/acs/acs5/?get=NAME,B01003_001E,B07011_001E,B15003_001E,B23025_005E&for=zip code tabulation area:*')
json = request_obj.json()
df_zip_info = pd.DataFrame(json)
df_zip_info

,0,1,2,3,4,5
0,NAME,B01003_001E,B07011_001E,B15003_001E,B23025_005E,zip code tabulation area
1,ZCTA5 01001,17537,31603,13358,422,01001
2,ZCTA5 01002,30280,14855,13787,1192,01002
3,ZCTA5 01003,11131,3973,136,906,01003
4,ZCTA5 01005,5014,33312,3498,150,01005
5,ZCTA5 01007,14906,40089,10062,399,01007
6,ZCTA5 01008,1272,33690,992,59,01008
7,ZCTA5 01009,384,-666666666,325,22,01009
8,ZCTA5 01010,3724,36237,2818,164,01010
9,ZCTA5 01011,1507,33173,1093,50,01011
10,ZCTA5 01012,531,36316,391,30,01012
11,ZCTA5 01013,23026,23205,15141,984,01013
12,ZCTA5 01020,30148,29448,22467,1192,01020
13,ZCTA5 01022,2604,33125,1752,116,01022
14,ZCTA5 01026,958,31544,718,22,01026
15,ZCTA5 01027,17870,33523,13729,695,01027
16,ZCTA5 01028,16156,35509,11501,409,01028
17,ZCTA5 01029,728,29306,578,39,01029
18,ZCTA5 01030,11211,33824,8005,219,01030
19,ZCTA5 01031,1151,27500,855,37,01031
20,ZCTA5 01032,551,42109,437,19,01032
21,ZCTA5 01033,6300,39403,4718,161,01033
22,ZCTA5 01034,2313,36622,1713,63,01034
23,ZCTA5 01035,5301,31529,4185,32,01035
24,ZCTA5 01036,5193,33628,3827,171,01036
25,ZCTA5 01037,772,28250,463,20,01037
26,ZCTA5 01038,2897,36250,2364,23,01038
27,ZCTA5 01039,1129,40000,913,53,01039
28,ZCTA5 01040,40362,20879,26875,1877,01040
29,ZCTA5 01050,2334,32795,1696,23,01050
...,...,...,...,...,...,...
33091,ZCTA5 00772,20784,None,13739,2386,00772
33092,ZCTA5 00653,11717,None,7811,1072,00653
33093,ZCTA5 00917,18316,None,13819,1128,00917
33094,ZCTA5 00669,26510,None,18435,3265,00669
33095,ZCTA5 00982,14514,None,10608,918,00982
33096,ZCTA5 00766,23931,None,15706,2293,00766
33097,ZCTA5 00680,48035,None,32662,4090,00680
33098,ZCTA5 00983,36687,None,25102,2352,00983
33099,ZCTA5 00692,36218,None,24215,2498,00692
33100,ZCTA5 00909,5430,None,3895,375,00909
33101,ZCTA5 00923,24754,None,16719,2018,00923
33102,ZCTA5 00783,34240,None,22905,3253,00783
33103,ZCTA5 00957,40738,None,27897,2498,00957
33104,ZCTA5 00623,42321,None,29619,1576,00623
33105,ZCTA5 00650,14664,None,9669,737,00650
33106,ZCTA5 00915,27534,None,18743,3708,00915
33107,ZCTA5 00769,39605,None,27276,1027,00769
33108,ZCTA5 00791,49551,None,34376,1840,00791
33109,ZCTA5 00727,56023,None,38527,2931,00727
33110,ZCTA5 00962,19864,None,13031,2482,00962
33111,ZCTA5 00683,31627,None,21839,752,00683
33112,ZCTA5 00602,39209,None,27525,2538,00602
33113,ZCTA5 00707,11240,None,7857,735,00707
33114,ZCTA5 00784,41417,None,27859,791,00784
33115,ZCTA5 00757,22475,None,14646,788,00757
33116,ZCTA5 00901,6540,None,5000,278,00901
33117,ZCTA5 00693,56327,None,38824,2918,00693
33118,ZCTA5 00936,749,None,715,0,00936
33119,ZCTA5 00716,29191,None,20661,1371,00716
33120,ZCTA5 00926,99106,None,71107,3745,00926

### Task 1: What types of zipcodes have reports of “Battery”?

### Task 2: What types of zipcodes get “Homicide”?

### Task 3: Does that change over time in the data you collected?

### Task 4: What is the difference in zipcodes that get “Deceptive Practice” vs “Sex Offense”?

_____

## Problem 3: Analysis and Communication
### Based on the data you have from 1 and 2:

### Task 1: Describe how crime has changed in Chicago from 2017 to 2018?

In [61]:
df_2018.summary()

,arrest,beat,block,case_number,community_area,date,description,district,domestic,fbi_code,...,latitude,location,location_description,longitude,primary_type,updated_on,ward,x_coordinate,y_coordinate,year
0,False,524,117XX S SANGAMON ST,JB140548,53.0,2018-02-04 01:36:00,FIRST DEGREE MURDER,5,False,01A,...,41.680739,"{'type': 'Point', 'coordinates': [-87.64566114...",STREET,-87.645661,HOMICIDE,2019-03-18T16:08:09.000,34.0,1172100.0,1827003.0,2018
1,False,2433,011XX W GRANVILLE AVE,JB108189,77.0,2018-01-08 06:50:00,AUTOMOBILE,24,False,07,...,41.994567,"{'type': 'Point', 'coordinates': [-87.65901631...",STREET,-87.659016,MOTOR VEHICLE THEFT,2018-05-04T15:51:04.000,48.0,1167554.0,1941332.0,2018
2,False,2411,025XX W TOUHY AVE,JB108139,2.0,2018-01-07 21:00:00,AUTOMOBILE,24,False,07,...,42.012201,"{'type': 'Point', 'coordinates': [-87.69390481...",STREET,-87.693905,MOTOR VEHICLE THEFT,2018-05-04T15:51:04.000,50.0,1158022.0,1947685.0,2018
3,False,1834,004XX N MICHIGAN AVE,JB108319,8.0,2018-01-05 18:10:00,RETAIL THEFT,18,False,06,...,41.890384,"{'type': 'Point', 'coordinates': [-87.62410991...",DEPARTMENT STORE,-87.624110,THEFT,2018-05-04T15:51:04.000,42.0,1177357.0,1903444.0,2018
4,False,2223,097XX S HALSTED ST,JB108166,73.0,2018-01-08 04:09:00,ATTEMPT FORCIBLE ENTRY,22,False,05,...,41.717160,"{'type': 'Point', 'coordinates': [-87.64309365...",RESTAURANT,-87.643094,BURGLARY,2018-05-04T15:51:04.000,21.0,1172695.0,1840280.0,2018

In [60]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264983 entries, 0 to 268094
Data columns (total 23 columns):
arrest                  264983 non-null bool
beat                    264983 non-null int64
block                   264983 non-null object
case_number             264983 non-null object
community_area          264983 non-null int64
date                    264983 non-null datetime64[ns]
description             264983 non-null object
district                264982 non-null float64
domestic                264983 non-null bool
fbi_code                264983 non-null object
id                      264983 non-null int64
iucr                    264983 non-null object
latitude                264983 non-null float64
location                264983 non-null object
location_description    264180 non-null object
longitude               264983 non-null float64
primary_type            264983 non-null object
updated_on              264983 non-null object
ward                    264982 non-null float64
x_coordinate            264983 non-null float64
y_coordinate            264983 non-null float64
year                    264983 non-null int64
zipcode                 264983 non-null object
dtypes: bool(2), datetime64[ns](1), float64(6), int64(4), object(10)
memory usage: 45.0+ MB

### Task 2A: One of the alderman candidates from recent elections has some crime statistics on his website. Are these statistics correct?

### Task 2B: Could they be misleading or would you agree with the conclusions he’s drawing? Why or why not? Please give these answers based on the data you have from 1 and 2 and show your code.

### Task 3: As you know, there will be a new mayor in Chicago very soon. Based on these summary statistics, provide 5 key findings to the new mayor’s office about crime in Chicago and what they should focus on in order to deal with crime in Chicago.

### Task 4: What are some of the key caveats of your recommendations and limitations of the analysis that you just did?

___

## Problem 4: Probabilities
### Assume you are running the 911 call center for Chicago. You get a call from someone at 2111 S Michigan Ave:

### Question A: Of the types of crimes you have data for, which crime type is the most likely given the call came from 2111 S Michigan Ave? What are the probabilities for each type of request?

In [34]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264983 entries, 0 to 268094
Data columns (total 23 columns):
arrest                  264983 non-null bool
beat                    264983 non-null int64
block                   264983 non-null object
case_number             264983 non-null object
community_area          264983 non-null int64
date                    264983 non-null datetime64[ns]
description             264983 non-null object
district                264982 non-null float64
domestic                264983 non-null bool
fbi_code                264983 non-null object
id                      264983 non-null int64
iucr                    264983 non-null object
latitude                264983 non-null float64
location                264983 non-null object
location_description    264180 non-null object
longitude               264983 non-null float64
primary_type            264983 non-null object
updated_on              264983 non-null object
ward                    264982 non-null float64
x_coordinate            264983 non-null float64
y_coordinate            264983 non-null float64
year                    264983 non-null int64
zipcode                 264983 non-null object
dtypes: bool(2), datetime64[ns](1), float64(6), int64(4), object(10)
memory usage: 45.0+ MB

In [51]:
df_2017_60616 = df_2017[df_2017.zipcode == '60616']
df_2017_60616.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4366 entries, 591 to 268056
Data columns (total 23 columns):
arrest                  4366 non-null bool
beat                    4366 non-null int64
block                   4366 non-null object
case_number             4366 non-null object
community_area          4366 non-null int64
date                    4366 non-null datetime64[ns]
description             4366 non-null object
district                4366 non-null float64
domestic                4366 non-null bool
fbi_code                4366 non-null object
id                      4366 non-null int64
iucr                    4366 non-null object
latitude                4366 non-null float64
location                4366 non-null object
location_description    4347 non-null object
longitude               4366 non-null float64
primary_type            4366 non-null object
updated_on              4366 non-null object
ward                    4366 non-null float64
x_coordinate            4366 non-null float64
y_coordinate            4366 non-null float64
year                    4366 non-null int64
zipcode                 4366 non-null object
dtypes: bool(2), datetime64[ns](1), float64(6), int64(4), object(10)
memory usage: 758.9+ KB

In [52]:
df_2017_60616.groupby(["primary_type", "year"]).size().sort_values(ascending=False)

primary_type                      year
THEFT                             2017    1166
BATTERY                           2017     813
CRIMINAL DAMAGE                   2017     405
DECEPTIVE PRACTICE                2017     340
ASSAULT                           2017     326
ROBBERY                           2017     294
OTHER OFFENSE                     2017     242
BURGLARY                          2017     192
CRIMINAL TRESPASS                 2017     169
MOTOR VEHICLE THEFT               2017     166
NARCOTICS                         2017      83
WEAPONS VIOLATION                 2017      45
SEX OFFENSE                       2017      27
CRIM SEXUAL ASSAULT               2017      25
OFFENSE INVOLVING CHILDREN        2017      23
PUBLIC PEACE VIOLATION            2017      18
INTIMIDATION                      2017       6
PROSTITUTION                      2017       6
KIDNAPPING                        2017       4
INTERFERENCE WITH PUBLIC OFFICER  2017       4
STALKING                          2017       4
ARSON                             2017       3
HOMICIDE                          2017       2
LIQUOR LAW VIOLATION              2017       2
OBSCENITY                         2017       1
dtype: int64

### Question B: Let’s now assume that a call comes in about Theft. Which is more likely – that the call came from Garfield Park or Uptown? How much more or less likely is it to be from Garfield Park vs Uptown?

In [56]:
#Garfield Park
#total = 14,375
#theft = 1432
df_2017_gp = df_2017[df_2017.zipcode == '60624']
df_2017_gp.groupby(["primary_type", "year"]).size().sort_values(ascending=False)

primary_type                       year
BATTERY                            2017    3117
NARCOTICS                          2017    2855
THEFT                              2017    1432
CRIMINAL DAMAGE                    2017    1299
ASSAULT                            2017    1039
OTHER OFFENSE                      2017     861
ROBBERY                            2017     707
MOTOR VEHICLE THEFT                2017     529
CRIMINAL TRESPASS                  2017     516
WEAPONS VIOLATION                  2017     455
DECEPTIVE PRACTICE                 2017     396
BURGLARY                           2017     373
PROSTITUTION                       2017     158
PUBLIC PEACE VIOLATION             2017     127
INTERFERENCE WITH PUBLIC OFFICER   2017     122
OFFENSE INVOLVING CHILDREN         2017     108
CRIM SEXUAL ASSAULT                2017      67
GAMBLING                           2017      64
HOMICIDE                           2017      56
SEX OFFENSE                        2017      37
ARSON                              2017      24
LIQUOR LAW VIOLATION               2017      10
KIDNAPPING                         2017      10
INTIMIDATION                       2017       6
OBSCENITY                          2017       4
STALKING                           2017       2
CONCEALED CARRY LICENSE VIOLATION  2017       1
dtype: int64

In [58]:
#Uptown
#total = 3,357
#theft = 948
df_2017_up = df_2017[df_2017.zipcode == '60640']
df_2017_up.groupby(["primary_type", "year"]).size().sort_values(ascending=False)

primary_type                      year
THEFT                             2017    948
BATTERY                           2017    597
DECEPTIVE PRACTICE                2017    367
CRIMINAL DAMAGE                   2017    300
ASSAULT                           2017    247
OTHER OFFENSE                     2017    197
BURGLARY                          2017    164
CRIMINAL TRESPASS                 2017    127
ROBBERY                           2017     96
MOTOR VEHICLE THEFT               2017     95
NARCOTICS                         2017     67
CRIM SEXUAL ASSAULT               2017     40
PUBLIC PEACE VIOLATION            2017     27
WEAPONS VIOLATION                 2017     22
OFFENSE INVOLVING CHILDREN        2017     19
SEX OFFENSE                       2017     17
INTERFERENCE WITH PUBLIC OFFICER  2017     11
HOMICIDE                          2017      5
LIQUOR LAW VIOLATION              2017      3
ARSON                             2017      2
INTIMIDATION                      2017      2
STALKING                          2017      2
PROSTITUTION                      2017      1
KIDNAPPING                        2017      1
dtype: int64

# END OF CODE - SEE WRITEUP